

html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

main {
    display: inline-block;
    border: 1px solid black;
    width: 95%;
    height: 95vh;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.719);
    text-align: center;
    margin-top: 1em;
}

.deck {
    display: inline-block;
    border: 1px solid white;
    width: 12%;
    height: 30%;
    vertical-align: top;
    margin-right: 1em;
}

section {
    display: inline-block;
    width: 65%;
    height: 49%;
    border: 1px dashed white;
    margin: .1em;
    text-align: center;
}

.hero {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    width: 12%;
    height: 30%;
    vertical-align: top;
    margin-left: 1em;
}

.hand {
    display: inline-block;
    border: 1px dotted rebeccapurple;
    height: 20%;
    width: 95%;
    text-align: center;
    margin-top: .2em;
    margin-bottom: -.2em;
}

.chandcard {
    display: inline-block;
    border: 1px dashed white;
    width: 15%;
    height: 90%;
    vertical-align: top;
    color: white;
}

.chname {
    display: inline-block;
    border: .5px solid black;
    width: 90%;
    height: 50%;
}

.chatk {
    display: inline-block;
    border: .5px solid black;
    width: 40%;
    height: 40%;
}

.chhp {
    display: inline-block;
    border: .5px solid black;
    width: 40%;
    height: 40%;
}

.phandcard {
    display: inline-block;
    border: 1px dashed white;
    width: 15%;
    height: 90%;
    vertical-align: top;
    color: white;
}

.phname {
    display: inline-block;
    border: .5px solid black;
    width: 90%;
    height: 50%;
}

.phatk {
    display: inline-block;
    border: .5px solid black;
    width: 40%;
    height: 40%;
}

.phhp {
    display: inline-block;
    border: .5px solid black;
    width: 40%;
    height: 40%;
}

.field {
    display: inline-block;
    border: 1px solid white;
    height: 78%;
    width: 95%;
    text-align: center;
    margin-top: .2em;
    vertical-align: top;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.cfieldcard {
    display: inline-block;
    border: 1px solid red;
    height: 90%;
    width: 18%;
    margin-top: .5em;
    vertical-align: top;
    margin: .5em;
}

.cfname {
    display: inline-block;
    border: .5px dotted red;
    width: 90%;
    height: 12%;
    margin-top: .2em;
    line-height: 2em;
}

.cfimage {
    display: inline-block;
    border: .5px dotted red;
    width: 90%;
    height: 60%;
    margin-top: .2em;
}

.cfatk {
    display: inline-block;
    border: .5px dotted red;
    border-radius: 50%;
    width: 25%;
    height: 15%;
    margin-top: .5em;
    margin-right: 3em;
    text-align: center;
    line-height: 2.5em;
}

.cfhp {
    display: inline-block;
    border: .5px dotted red;
    border-radius: 50%;
    width: 25%;
    height: 15%;
    text-align: center;
    vertical-align: center;
    line-height: 2.5em;
}

.pfieldcard {
    display: inline-block;
    border: 1px solid red;
    height: 90%;
    width: 18%;
    margin-top: .5em;
    vertical-align: top;
    margin: .5em;
}

.pfname {
    display: inline-block;
    border: .5px dotted red;
    width: 90%;
    height: 12%;
    margin-top: .2em;
    line-height: 2em;
}

.pfimage {
    display: inline-block;
    border: .5px dotted red;
    width: 90%;
    height: 60%;
    margin-top: .2em;
}

.pfatk {
    display: inline-block;
    border: .5px dotted red;
    border-radius: 50%;
    width: 25%;
    height: 15%;
    margin-top: .5em;
    margin-right: 3em;
    text-align: center;
    line-height: 2.5em;
}

.pfhp {
    display: inline-block;
    border: .5px dotted red;
    border-radius: 50%;
    width: 25%;
    height: 15%;
    text-align: center;
    vertical-align: center;
    line-height: 2.5em;
}

#compdeck {
    margin-top: 5em;
}

#comphero {
    margin-top: 5em;
}

#playerdeck {
    vertical-align: bottom;
    margin-bottom: 5em;
    margin-left: 1em;
}

#playerdeck:hover {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

#playerhero {
    vertical-align: bottom;
    margin-bottom: 5em;
    margin-right: 1em;
}